<div>
  <h2 style="margin: auto; width: 190px">Cart Details</h2>

  <div class="tableStyle">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Product Name</th>
          <th>Phone Cost</th>
          <th>Quantity</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Product of Products">
          <td>{{ Product.orderId }}</td>
          <td>{{ Product.productName }}</td>
          <td>{{ Product.productCost }}</td>
          <td>{{ Product.quantity }}</td>
          <td>{{ Product.total }}</td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Quantity</mat-label>
              <mat-select [(ngModel)]="selectedValue">
                <mat-option
                  style="font-style: 10px"
                  *ngFor="let quantity of quantities"
                  [value]="quantity.count"
                >
                  {{ quantity.count }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button
              class="btn btn-success"
              style="margin-left: 20px"
              (click)="newOrders(Product)"
            >
              Update
            </button>
            <button
              class="btn btn-success"
              style="margin-left: 20px"
              (click)="deleteOrder(Product.orderId)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
